$scuro:rgb(255, 255, 255);

@import 'function';

body {
    font-family: 'Poppins', sans-serif;
}

.colore-social {
    color: #249D9F;
}

#hero {
    display: flex;
    min-height: 60vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.sfondo {
    background-image: url(../img/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bi-chevron-right,
.bi-chevron-left {
    background-color: $scuro;
    color: contrasto($scuro);
}

.arrotondato {
    border-radius: 10px;
}

.icone-servizi {
    font-size: 40px;
    color: white;
    background: linear-gradient(180deg, rgba(36, 157, 159, 1) 0%, rgba(94, 237, 240, 1) 100%);
    padding: 5px 15px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.link_hover:hover {
    color: white;
}

.mw-990 {
    max-width: 990px;
}