body{
    background: rgb(54,54,54);
    background: linear-gradient(150deg, rgba(54,54,54,1) 50%, rgba(0,0,0,1) 100%);
    color: #FFFF99;
    font-family: 'Roboto Serif', sans-serif;
}
#contenitore{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}
#todo{
    margin-top: 30vh;
}
#lista{
    padding: 0px;
    list-style-type: none;
    width: 75vw;
}
#lista li {
    width: 100%;
    background-color: #464646;
    padding: 6px 15px;
    border-radius: 15px;
    margin: 15px -19px;
    font-size: 17px;
}
.bi-dash-circle-fill{
    padding: 0px !important;
    float: right;
    margin-top: -6px;
    margin-right: -53px;
}
.bi{
    font-size: 30px;
    padding-top: 10px;
    cursor: pointer;

}
#testo{
    padding: 4px 10px;
    width: 75vw;
    border: none;
}
